body{
	margin: 50px;
	padding: 0;
}

div{
	display: inline-block;
	position: relative;
	left: 2px;
	margin: 2px;
}

p {
	position: absolute;
	color: white;
	padding-top: 170px;
	padding-left: 15px;
	left: 30%;
}

.caja{
	margin: 4px 0;
	display: inline-block;
	position: relative;
}

.alumna{
	display: inline-block;
	position: relative;
}

